<% @decade = HTTParty.get("http://api.menus.nypl.org/dishes?token=selsce5qphehgzeqw2cke6jb2e&min_year=1851&max_year=1860&sort_by=popularity") %>

<% @decade["dishes"][0..9].each do |dish|  %>
  <div style="inline-block;">
    <h1 data-name=<%=dish["name"]%>><%= dish["name"] %></h1>
    <h4>On <%= dish["menus_appeared"]%> menus</h4>
    <h4>First appeared in <%= dish["first_appeared"] %></h4>
    <h4>Las appeared in <%= dish["last_appeared"] %></h4>
    <a href=<%= locu_path(dish["name"]) %>><%= dish["name"] %></a>
  </div>
<% end %>
