
<h1><%= @local_lat %></h1>
<h1><%= @local_lon %></h1>


<% @local_search['objects'][0..4].each do |restaurant|  %>
    <h1><%= restaurant["venue"]["name"] %></h1>
    <h4>lat: <%= restaurant["venue"]["lat"] %></h4>
    <h4>long: <%= restaurant["venue"]["long"] %></h4>

    <br><Br>

<% end %>


<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }

  #map-canvas {
    height: 500px;
    width: 400px;
    text-align: center;
    padding-left: 500px;
    float: center;
    clear: both;
    display: inline-block;

  }

</style>


<div id="map-canvas" style="padding-left: 50px"/></div>


<script>


           //google maps API
function initialize() {


   // // first remove all markers if there are any

   //      deleteOverlays();

  // initialize new google maps LatLng object
  var myLatlng = new google.maps.LatLng(40.6928, -73.9903);

  // set the map options hash
  var mapOptions = {
    center: myLatlng,
    zoom: 11,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

  // Add the marker to the map


  // var markersArray = [];

  // Add the marker to the map by calling setMap()


  <% @local_search['objects'].first(5).each do |obj| %>

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%=obj['venue']['lat']%>, <%=obj['venue']['long']%>),
      title: "<%=obj['name'].strip%>"
    });
    marker.setMap(map);

  <% end %>


}



  // var infowindow = new google.maps.InfoWindow({
  //   content: restaurant_name
  // });

  // infowindow.open(map,marker);

  // // add marker in markers array
  // markersArray.push(marker);

  // function deleteOverlays() {
  //   if (markersArray) {
  //     for (i = 0; i < markersArray.length; i++) {
  //       markersArray[i].setMap(null);
  //     }
  //   markersArray.length = 0;
  //   }
  // };


google.maps.event.addDomListener(window, 'load', initialize);


</script>

