<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @food.dish %>
</p>

<p>
  <strong>Year:</strong>
  <%= @food.year %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @food.qty %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
